<h1>Tubular2 - Angular2 components</h1>

<tubular-grid server-url="http://tubular.azurewebsites.net/api/orders/paged" require-authentication="false">
    <div class="row">
        <div class="col-md-2 offset-md-5">
            <tbExportButton></tbExportButton>
        </div>
        <div class="col-md-3 offset-md-2">
            <grid-search></grid-search>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <grid></grid>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <grid-pager></grid-pager>
        </div>
        <div class="col-md-3">
            <page-size-selector [options]=""></page-size-selector>
        </div>
        <div class="col-md-3">
            <grid-pager-info></grid-pager-info>
        </div>
    </div>
</tubular-grid>