<h1 class="display-3">Tubular2</h1>
<p class="lead">
    Angular2 components
</p>

<tubular-grid server-url="http://tubular.azurewebsites.net/api/orders/paged" require-authentication="false">
    <div class="row">
        <div class="col-md-6">
            <grid-pager></grid-pager>
        </div>
        <div class="col-md-3">
            <div class="btn-group-sm">
                <grid-print></grid-print>
                <grid-export fileName="sampleCsv.csv"></grid-export>
            </div>
        </div>
        <div class="col-md-3">
            <grid-search></grid-search>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <grid></grid>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <grid-pager></grid-pager>
        </div>
        <div class="col-md-3">
            <page-size-selector [options]=""></page-size-selector>
        </div>
        <div class="col-md-3">
            <grid-pager-info></grid-pager-info>
        </div>
    </div>
</tubular-grid>
