<div class="row">
    <button id="btnExp" (click)="forceAuthTokenToExpire()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;change expDay
    </button>
    <br/>
    <button id="btnAuth" (click)="isAuthenticated()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;is Authenticated?
    </button>
    <label id="isAuth">{{isAuth}}</label>
    <br/>
    <!--<button id="btnRetData" (click)="retrieveData()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;Retrieve Saved Data
    </button>-->
    <!--<label id="lbRet">{{retSavData}}</label>-->
</div>