
<h1 class="display-3">Tubular2</h1>
<p class="lead">
    Form component
</p>
<form [formGroup]="detailsForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Customer Name:</label>
                    <input type="text" formControlName="CustomerName" class="form-control">
                </div>
                <div class="form-group">
                    <label>Shipped Date:</label>
                    <input type="datetime-local" formControlName="ShippedDate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Shipper City:</label>
                    <input type="text" formControlName="ShipperCity" class="form-control">
                </div>
            </div>
        </div>
</form>

