<form [formGroup]="detailsForm">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Details</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label>Customer Name:</label>
                    <input type="text" formControlName="CustomerName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Shipped Date:</label>
                    <input type="datetime-local" formControlName="ShippedDate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Shipper City:</label>
                    <input type="text" formControlName="ShipperCity" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
    </div>
</form>