
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="detailsForm">
                    <div class="form-group">
                        <label>CustomerName:</label>
                        <input type="text" formControlName="CustomerName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ShippedDate:</label>
                        <input type="datetime-local" formControlName="ShippedDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ShipperCity:</label>
                        <input type="text" formControlName="ShipperCity" class="form-control">
                    </div>
                </form>
            </div>
        </div>

