<table class="table table-sm table-striped table-inverse table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of columns | async">
                <column-header [column]="column"
                               (onSort)="sort($event)"
                               (onFilteringChange)="layoutChange($event)">
                </column-header>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td>
                <div [@rowState]="isFiltering">{{row.OrderID}}</div>
            </td>
            <td>
                <div [@rowState]="isFiltering">{{row.CustomerName}}</div>
</td>
            <td>
                <div [@rowState]="isFiltering">{{row.ShippedDate | date}}</div>
</td>
            <td>
                <div [@rowState]="isFiltering">{{row.ShipperCity}}</div>
</td>
        </tr>
    </tbody>
</table>