<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let column of columns | async">
                <column-header [column]="column"
                               (onSort)="sort($event)"
                               (onFilteringChange)="layoutChange($event)">
                    <template #filterPopover>
                        <div class="form-group">
                            <label for="filter">Text</label>
                            <input type="text" id="filter" class="form-control" ([ngModel])="column.filter.text" />
                        </div>
                        <div class="form-group">
                            <label for="operator">Operator</label>
                            <select id="operator" class="form-control" ([ngModel])="column.filter.operator"></select>
                        </div>
                        <div class="pull-xs-right clearfix">
                            <button class="btn btn-sm btn-success">Filter</button>
                            <button class="btn btn-sm btn-danger">Clear</button>
                        </div>
                    </template>
                </column-header>
            </th>
        </tr>
    </thead>
    <tbody [hidden]="isFiltering">
        <tr *ngFor="let row of rows">
            <td>{{row.OrderID}}</td>
            <td>{{row.CustomerName}}</td>
            <td>{{row.ShippedDate | date}}</td>
            <td>{{row.ShipperCity}}</td>
        </tr>
    </tbody>
</table>