<h1 class="display-3">
    Tubular2</h1>
<p class="lead">
    Angular2 components
</p>

<tb-grid #grid dataUrl="http://tubular.azurewebsites.net/api/orders/paged" requireAuthentication="false" (onDataError)="errorHandler($event)">
    <div class="row">
        <div class="col-md-5">
            <tb-grid-pager></tb-grid-pager>
        </div>
        <div class="col-md-4">
            <div class="btn-group-sm">
                <tb-grid-print></tb-grid-print>
                <tb-grid-export fileName="sampleCsv.csv"></tb-grid-export>
                <!--<button class="btn btn-info" (click)="openDialog(content)">
                    New Item
                </button>-->
            </div>
        </div>
        <div class="col-md-3">
            <tb-grid-search></tb-grid-search>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <my-grid></my-grid>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-3">
            <tb-page-size-selector></tb-page-size-selector>
        </div>
        <div class="col-md-4">
            <tb-grid-pager-info></tb-grid-pager-info>
        </div>
    </div>
</tb-grid>