<tb-grid #grid dataUrl="http://tubular.azurewebsites.net/api/orders/paged" (beforeRequest)="beforeRequest($event)">
    <div class="container">
    <div fxLayout="row">
        <div fxFlex="30">
            <tb-grid-pager></tb-grid-pager>
        </div>
        <div fxFlex="50">
            <button [grid-print]="grid" fxFlex md-button>
                <md-icon>print</md-icon> Print
            </button>
            <tb-grid-export fxFlex fileName="sampleCsv.csv"></tb-grid-export>
            <button fxFlex md-button (click)="add()">
                <md-icon>add</md-icon> New Item
            </button>
        </div>
        <div fxFlex="20">
            <tb-grid-search></tb-grid-search>
        </div>
    </div>
    </div>
    <div fxLayout="row">
        <my-grid></my-grid>
    </div>
    <div fxLayout="row">
        <div fxFlex></div>
        <div fxFlex>
            <tb-page-size-selector></tb-page-size-selector>
        </div>
        <div fxFlex>
            <tb-grid-pager-info></tb-grid-pager-info>
        </div>
    </div>
</tb-grid>