<md-card>
    <md-card-header>
        <md-card-title>Sample Grid using Angular Material</md-card-title>
    </md-card-header>
    <md-card-content>
        <tb-grid #grid dataUrl="http://tubular.azurewebsites.net/api/orders/paged" (beforeRequest)="beforeRequest($event)">
            <md-toolbar>
                <div fxFlex>
                    <tb-grid-pager [ellipses]="pagerShowEllipses" [boundaryLinks]="pagerBoundaryLinks" [maxSize]="10"></tb-grid-pager>
                </div>
                <div fxFlex>
                <button md-icon-button (click)="add()"aria-label="Add New">
                    <md-icon>add</md-icon>
                </button>
                <button md-icon-button [grid-print]="grid" aria-label="Print">
                    <md-icon>print</md-icon>
                </button>
                <tb-grid-export fxFlex fileName="sampleCsv.csv"></tb-grid-export>
                </div>
                <div fxFlex>
                    <tb-grid-search></tb-grid-search>
                </div>
            </md-toolbar>
            <div fxLayout="row">
                <my-grid fxFlex></my-grid>
            </div>
            <md-toolbar>
                <div fxFlex>
                    <tb-grid-pager [ellipses]="!pagerShowEllipses" [boundaryLinks]="!pagerBoundaryLinks"></tb-grid-pager>
                </div>
                <div fxFlex>
                    <tb-page-size-selector></tb-page-size-selector>
                </div>
                <div fxFlex>
                    <tb-grid-pager-info></tb-grid-pager-info>
                </div>
            </md-toolbar>
        </tb-grid>
    </md-card-content>
</md-card>