<form [formGroup]="orderForm">
    <div class="modal-header">
        <h4 class="modal-title">Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Customer Name:</label>
                    <input type="text" class="form-control" formControlName="CustomerName" required />
                </div>
                <div class="form-group">
                    <label>Shipped Date:</label>
                    <input type="datetime-local" class="form-control" formControlName="ShippedDate" required />
                </div>
                <div class="form-group">
                    <label>Shipper City:</label>
                    <input type="text" class="form-control" formControlName="ShipperCity" required />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Save and close</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>