<div class="md-table-container">
<table>
    <thead>
        <tr>
            <th>Actions</th>
            <th *ngFor="let column of columns | async">
                <tb-column-header #header [column]="column" (onSort)="sort($event)" (onFilter)="applyFilter($event)">
                    <ng-template #filterPopover>
                        <tb-filter-dialog [column]="column" (filterChange)="header.filter($event)">
                        </tb-filter-dialog>
                    </ng-template>
                </tb-column-header>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td>
                <button md-button (click)="edit(row)"><md-icon>mode_edit</md-icon></button>
            </td>
            <td>{{row.OrderID}}</td>
            <td>{{row.CustomerName}}</td>
            <td>{{row.ShippedDate | mdate:"dddd, MMMM Do YYYY h:mma" }}</td>
            <td>{{row.CreationDate | mdate:"dddd, MMMM Do YYYY" }}</td>
            <td>{{row.ShipperCity}}</td>
        </tr>
    </tbody>
</table>
</div>