.sortable {
    text-decoration: underline;
    cursor: pointer;
}
.sortable:hover {
    color: yellow;
}
.sortAsc::after {
   font-family: FontAwesome;
   content: "\f176";
}
.sortDesc::after {
   font-family: FontAwesome;
   content: "\f175";
}