<mat-card>
    <mat-card-header>
        <mat-card-title>Sample Grid using Angular Material</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <tb-grid #grid dataUrl="http://tubular.azurewebsites.net/api/orders/paged">
            <mat-paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            <tb-grid-search>
            </tb-grid-search>
            <mat-table [dataSource]="grid.dataSource" matSort>
                <ng-container cdkColumnDef="options">
                    <mat-header-cell *cdkHeaderCellDef> Options </mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <button mat-button (click)="edit(row)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="OrderID">
                    <mat-header-cell *cdkHeaderCellDef>
                        <span mat-sort-header>
                            Order ID
                        </span>
                        <tb-filter-dialog column="OrderID">
                        </tb-filter-dialog>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{row.OrderID}} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="CustomerName">
                    <mat-header-cell *cdkHeaderCellDef>
                        <span mat-sort-header>
                            Customer Name
                        </span>
                        <tb-filter-dialog column="CustomerName">
                        </tb-filter-dialog>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{row.CustomerName}} </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="ShipperCity">
                    <mat-header-cell *cdkHeaderCellDef>
                        <span mat-sort-header>
                            Shipper City
                        </span>
                        <tb-filter-dialog column="ShipperCity">
                        </tb-filter-dialog>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{row.ShipperCity}} </mat-cell>
                </ng-container>


                <ng-container cdkColumnDef="ShippedDate">
                    <mat-header-cell *cdkHeaderCellDef>
                        <span mat-sort-header>
                            Shipped Date
                        </span>
                        <tb-filter-dialog column="ShippedDate">
                        </tb-filter-dialog>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{row.ShippedDate}} </mat-cell>
                </ng-container>


                <mat-header-row *cdkHeaderRowDef="['options', 'OrderID', 'CustomerName', 'ShipperCity', 'ShippedDate']"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: ['options', 'OrderID', 'CustomerName', 'ShipperCity', 'ShippedDate'];"></mat-row>
            </mat-table>

            <mat-paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </tb-grid>
    </mat-card-content>
</mat-card>