<h4 md-dialog-title>Details</h4>

<form [formGroup]="orderForm">
    <div md-dialog-content fxLayout="column">
    <md-input-container>
        <input type="text" mdInput placeholder="Customer Name" formControlName="CustomerName" required />
    </md-input-container>
    <md-input-container>
        <input type="datetime-local" mdInput placeholder="Shipped Date" formControlName="ShippedDate" required />
    </md-input-container>
    <md-input-container>
        <input type="text" mdInput placeholder="Shipper City" formControlName="ShipperCity" required />
    </md-input-container>
    </div>
    <div fxLayout="row" md-dialog-actions>
        <button fxFlex type="button" md-button color="primary" md-dialog-close>Save and close</button>
        <button fxFlex type="button" md-button md-dialog-close>Close</button>
    </div>
</form>